#!/usr/bin/make -f

DEB_TAR_SRCDIR := pdp-0.12.4
export PDP_EXTRA_CFLAGS = -fPIC -Wno-error
export CXXFLAGS = -Wno-error
export CFLAGS = -Wno-error

include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_MAKE_INSTALL_TARGET = install prefix=$(DEB_DESTDIR)/usr

ifeq ($(DEB_BUILD_ARCH),i386)
DEB_CONFIGURE_EXTRA_FLAGS = --enable-mmx
endif
